<div class="d-flex justify-content-between mt-2 ms-5 me-5 align-items-center">
  <div></div>
  <div class="d-flex justify-content-center align-items-center w-75">
    <div
      class="input-group search-container"
      [ngClass]="{ 'right-input': lang == 'ar' }"
    >
      <div class="align-self-center">
        <span class="input-group-text align-self-center bg-white"
          ><i class="fa-solid fa-magnifying-glass filter-icon"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        [placeholder]="'shared.filter.search' | translate"
        [(ngModel)]="searchInput"
        (input)="onSearchChange()"
      />
    </div>
    <div
      class="input-group sort-by-container"
      [ngClass]="{ 'right-input': lang == 'ar' }"
    >
      <div class="align-self-center">
        <span class="input-group-text align-self-center bg-white">
          <i class="fa-solid fa-filter filter-icon"></i>
        </span>
      </div>
      <select
        class="form-select"
        [(ngModel)]="sortBy"
        (change)="onSortChange(sortBy)"
      >
        <option value="">{{ "shared.filter.sort-by" | translate }}</option>
        <option value="title">{{ "shared.form.title" | translate }}</option>
        <option value="type">{{ "shared.form.type" | translate }}</option>
        <option value="hotel">{{ "shared.form.hotel" | translate }}</option>
        <option value="capacity">{{ "room.capacity" | translate }}</option>
        <option value="price">{{ "shared.form.price" | translate }}</option>
      </select>
    </div>
    <button
      class="btn-outline border-0 p-1"
      type="button"
      (click)="toggleSortDirection()"
      [title]="'shared.filter.toggle-direction' | translate"
    >
      <i
        *ngIf="sortDirection === 'Ascending'"
        class="bi bi-sort-down-alt h4"
      ></i>
      <i
        *ngIf="sortDirection === 'Descending'"
        class="bi bi-sort-up-alt h4"
      ></i>
    </button>
  </div>
  <div class="d-flex flex-column flex-md-row align-items-center">
    @if(user?.role == "Admin"){
    <button
      class="btn btn-primary"
      [routerLink]="['/admin/add-room']"
      routerLinkActive="router-link-active"
      [title]="'room.add-room' | translate"
    >
      <i class="bi bi-house-add-fill h4 m-1 align-middle"></i>
      <span class="m-1 align-middle add-rooms-text">{{
        "room.add-room" | translate
      }}</span>
    </button>
    }
  </div>
</div>

<div class="rooms-container">
  @if(rooms.length > 0){ @if(filteredRooms.length >0){ @for(room of
  filteredRooms; let i= $index; track i){

  <div class="room-card">
    @if(role == 'Admin'){
    <i
      class="delete-icon bi bi-trash-fill h4"
      (click)="deleteRoom(room.id)"
      [title]="'room.delete-room' | translate"
    ></i>
    }
    <i
      class="info-icon bi bi-info-circle-fill h5"
      [routerLink]="['/room-details/', room.id]"
      routerLinkActive="router-link-active"
      [title]="'room.room-details' | translate"
    ></i>
    <img
      class="room-img"
      [src]="room.imagesUrl[0]"
      [routerLink]="['/room-details/', room.id]"
      routerLinkActive="router-link-active"
    />
    <div class="room-info">
      <div
        class="room-content"
        [routerLink]="['/room-details/', room.id]"
        routerLinkActive="router-link-active"
      >
        <div class="d-flex justify-content-between">
          <h4>{{ room.title }}</h4>
          <div class="d-flex flex-row align-self-center">
            @if(room.capacity ==1){
            <i class="align-self-center fa-solid fa-user"></i>} @else{
            <i class="align-self-center fa-solid fa-users"></i>}
            <span class="align-self-center m-1">{{ room.capacity }}</span>
          </div>
        </div>

        <div class="info-row">
          <div class="label">{{ "room.type" | translate }}:</div>
          <div class="value">
            @if(room.roomType == 'Hall'){
            <img
              class="icon-img mb-1"
              src="../../../../assets/images/hall-filled-icon.png"
            />
            } @else {
            <i class="fa-solid fa-bed" style="color: #ad926b"></i>
            }
            {{ room.roomType }}
          </div>
        </div>

        <div class="info-row">
          <div class="label">{{ "room.hotel" | translate }}:</div>
          <div class="value">{{ room.hotel }}</div>
        </div>

        <div class="info-row">
          <div class="label">{{ "shared.form.price" | translate }}:</div>
          <div class="value">
            {{ room.price | currency : "USD" : "symbol" : "1.0-0" }}
          </div>
        </div>
      </div>
      @if(role != 'Admin'){
      <button class="book-btn btn-primary" (click)="bookRoom(room)">
        {{ "room.book-now" | translate }}
      </button>
      }
    </div>
  </div>
  } } @else{
  <h3 class="text-center mt-5">
    {{ "room.couldnt-find-a-room" | translate }}
  </h3>
  } }@else{
  <h3 class="text-center mt-5">
    {{ "room.no-available-rooms" | translate }}
  </h3>
  }
</div>

<ng-template #noRooms>
  <p class="no-rooms-msg">{{ "room.no-available-rooms" | translate }}</p>
</ng-template>

<p-toast />
<p-confirmdialog #cd>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      [label]="'shared.confirm-dialog.delete' | translate"
      [ngStyle]="{ backgroundColor: '#e09fa6', border: 'red' }"
      (click)="cd.onAccept()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-check"
      [label]="'shared.confirm-dialog.cancel' | translate"
      [ngStyle]="{ backgroundColor: '#90c67c', border: 'green' }"
      (click)="cd.onReject()"
    ></button>
  </ng-template>
</p-confirmdialog>
