<div class="d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-center align-items-center w-75">
    <div class="input-group search-container">
      <div class="align-self-center">
        <span class="input-group-text align-self-center bg-white">
          <i class="fa-solid fa-magnifying-glass filter-icon"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="{{ 'service.search-placeholder' | translate }}"
        [(ngModel)]="serviceSearchTerm"
        (input)="filterServices()"
      />
      <div class="align-self-center">
        <span class="input-group-text input-right align-self-center bg-white">
          <i
            role="button"
            (click)="clearSearchInput()"
            class="fa-solid fa-xmark"
          ></i>
        </span>
      </div>
    </div>
    <div class="input-group sort-by-container ms-3 w-50">
      <div class="align-self-center">
        <span class="input-group-text bg-white">
          <i class="fa-solid fa-door-open filter-icon"></i>
        </span>
      </div>
      <select
        id="roomSelect"
        [(ngModel)]="selectedRoomId"
        (change)="onRoomSelectionChange()"
        class="form-select custom-select"
      >
        <option value="" disabled selected>
          {{ "service.booked-room" | translate }}
        </option>
        <option *ngFor="let room of userRooms" [ngValue]="room.id">
          {{ "room.room" | translate }}: {{ room.title }} -
          {{ "room.hotel" | translate }}: {{ room.hotel }}
        </option>
        <option value="">
          {{ "room.all" | translate }}
        </option>
      </select>
    </div>

    <div class="input-group sort-by-container ms-3">
      <div class="align-self-center">
        <span class="input-group-text align-self-center bg-white">
          <i class="fa-solid fa-filter filter-icon"></i>
        </span>
      </div>

      <select
        id="sortSelect"
        class="form-select"
        [(ngModel)]="sortBy"
        (change)="filterServices()"
      >
        <option value="" disabled selected>
          {{ "service.sort-by" | translate }}
        </option>
        <option value="title">{{ "service.sort.title" | translate }}</option>
        <option value="serviceType">
          {{ "service.sort.type" | translate }}
        </option>
        <option value="price">{{ "service.sort.price" | translate }}</option>
      </select>
    </div>

    <button
      class="btn-outline border-0 p-1 ms-2"
      type="button"
      (click)="toggleSortDirection()"
      title="Toggle sort direction"
    >
      <i
        *ngIf="sortDirection === 'Ascending'"
        class="bi bi-sort-down-alt h4"
      ></i>
      <i
        *ngIf="sortDirection === 'Descending'"
        class="bi bi-sort-up-alt h4"
      ></i>
    </button>
  </div>
</div>
@if(userRooms.length > 0){ @if(allUserRoomsServices.length >0){
<div
  class="services-container"
  *ngIf="filteredServices && filteredServices.length > 0; else noServices"
>
  <div class="service-card" *ngFor="let service of filteredServices">
    <div class="d-flex justify-content-between">
      <h3>
        @if(service.serviceType == "Cleaning"){
        <i class="fa-solid fa-broom" style="color: #ad926b"></i>
        } @else if (service.serviceType == "Dining") {
        <i class="fa-solid fa-utensils" style="color: #ad926b"></i>
        }@else if (service.serviceType == "Maintenance") {
        <i class="fa-solid fa-toolbox" style="color: #ad926b"></i>
        }
        {{ service.title }}
      </h3>

      <h5>${{ service.price }}</h5>
    </div>
    <p>
      <strong>{{ "service.hotel" | translate }}:</strong>
      {{ service.employee.hotel }}
    </p>
    <p>
      <strong>{{ "service.details" | translate }}:</strong>
      {{ service.details }}
    </p>
    <img
      *ngIf="service.imageUrl"
      [src]="service.imageUrl"
      alt="{{ 'service.image-alt' | translate }}"
      class="service-img mb-2"
    />

    <button
      class="btn-primary"
      [disabled]="isRequestButtonDisabled(service)"
      (click)="requestService(service)"
    >
      {{ getServiceButtonLabel(service) }}
    </button>
  </div>
</div>
} @else{
<h3 class="no-data">
  {{ "service.no-available-services" | translate }}
</h3>
} } @else {
<h3 class="no-data">
  {{ "service.book-room-to-access-services" | translate }}
</h3>
}
<ng-template #noServices>
  @if(serviceSearchTerm){
  <h3 class="no-data">
    {{ "shared.filter.could-not-find-what-you-are-searching-for" | translate }}
  </h3>
  } @else {
  <h3 class="no-data">
    {{ "service.no-available-services" | translate }}
  </h3>
  }
</ng-template>

<p-toast></p-toast>
