@import "../../../../styles/variables.scss";

.page {
  max-width: 1300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

tr {
  text-align: center;
}

.action-btn {
  border: none;
  margin: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.details {
  color: $color-caramel;
}
.approve {
  color: #abf7b1;
}
.reject {
  color: #faa0a0;
}

img {
  width: 45px;
  padding-bottom: 7px;
}
