@import "../../../../styles/variables.scss";

.page {
  max-width: 1300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

tr {
  text-align: center;
}

.action-btn {
  border: none;
  margin: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.details {
  color: $color-caramel;
}

.approve {
  color: $color-light-green;
}

.reject {
  color: $color-light-red;
}

.fill-icon {
  color: $color-dark-brown;
}

// ------------------------------ Datatable Styling ------------------------------
table.dataTable {
  border-radius: 10spx !important; /* or use 1rem, 12px, etc. */
  overflow: hidden; /* ensure internal elements don't break the radius */
}

:host ::ng-deep .page-item.active .page-link {
  background-color: $color-caramel !important;
  border-color: $color-caramel !important;
  color: $color-light-cream !important;
}

:host ::ng-deep .page-item .page-link {
  color: $color-dark-brown !important;
}
