<div class="page">
  @if(isAddingAService){
  <h1 class="m-4 mb-4 text-center">{{ "service.add-service" | translate }}</h1>
  } @else {
  <h1 class="m-4 mb-4">{{ "service.edit-service" | translate }}</h1>
  }
  <div class="center-wrapper">
    <form class="container p-4" [formGroup]="serviceForm" (ngSubmit)="submit()">
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
            ><i class="fa-solid fa-t"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Title"
          [placeholder]="'shared.form.title' | translate"
          formControlName="title"
          pattern="^[a-zA-Z0-9'\-$!& ]+$"
          required
        />

        <div
          class="error"
          *ngIf="
            serviceForm.get('title')?.touched || serviceForm.get('title')?.dirty
          "
        >
          <div *ngIf="serviceForm.get('title')?.errors?.['required']">
            {{ "shared.form.title-required" | translate }}
          </div>
          <div *ngIf="serviceForm.get('title')?.errors?.['minlength']">
            {{ "shared.form.title-minlength" | translate }}
          </div>
          <div *ngIf="serviceForm.get('title')?.errors?.['maxlength']">
            {{ "shared.form.title-maxlength" | translate }}
          </div>
          <div *ngIf="serviceForm.get('title')?.errors?.['pattern']">
            {{ "shared.form.title-invalid" | translate }}
          </div>
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
          >
            <i class="fa-solid fa-screwdriver-wrench"></i>
          </span>
        </div>
        <select
          class="type-input"
          aria-label="Service Type"
          formControlName="serviceType"
          required
          [ngStyle]="{
            color: serviceForm.get('serviceType')?.value ? 'black' : '#495057'
          }"
        >
          <option value="" disabled selected hidden>
            {{ "service.type" | translate }}
          </option>

          @for(servicesType of servicesTypes; let i= $index; track i){

          <option [value]="servicesType">{{ servicesType }}</option>
          }
        </select>
        <div
          class="error"
          *ngIf="
            serviceForm.get('serviceType')?.invalid &&
            serviceForm.get('serviceType')?.touched
          "
        >
          {{ "service.service-type-required" | translate }}
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
            ><i class="fa-solid fa-circle-info"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Details"
          [placeholder]="'shared.form.details' | translate"
          formControlName="details"
          required
          pattern="[a-zA-Z0-9À-ž.,!?'\&quot;()\-:;$!& ]*"
        />
        <div
          class="error"
          *ngIf="
            serviceForm.get('details')?.touched ||
            serviceForm.get('details')?.dirty
          "
        >
          <div *ngIf="serviceForm.get('details')?.errors?.['required']">
            {{ "shared.form.details-required" | translate }}
          </div>
          <div *ngIf="serviceForm.get('details')?.errors?.['minlength']">
            {{ "shared.form.details-minlength" | translate }}
          </div>
          <div *ngIf="serviceForm.get('details')?.errors?.['maxlength']">
            {{ "shared.form.details-maxlength" | translate }}
          </div>
          <div *ngIf="serviceForm.get('details')?.errors?.['pattern']">
            {{ "shared.form.ipnut-invalid" | translate }}
          </div>
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
            ><i class="fa-solid fa-dollar-sign"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Price"
          [placeholder]="'shared.form.price' | translate"
          formControlName="price"
          required
          pattern="^\d{1,4}(\.\d{1,2})?$"
          maxlength="7"
        />
        <div
          class="error"
          *ngIf="
            serviceForm.get('price')?.touched || serviceForm.get('price')?.dirty
          "
        >
          <div *ngIf="serviceForm.get('price')?.errors?.['required']">
            {{ "shared.form.price-required" | translate }}
          </div>
          <div *ngIf="serviceForm.get('price')?.errors?.['max']">
            {{ "shared.form.price-max" | translate }}
          </div>
          <div
            *ngIf="serviceForm.get('price')?.errors?.['pattern'] && (!serviceForm.get('price')?.errors?.['max'] && !serviceForm.get('price')?.errors?.['min'])"
          >
            {{ "shared.form.price-invalid" | translate }}
          </div>
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
            ><i class="fa-solid fa-image"></i>
          </span>
        </div>
        <input
          type="file"
          class="form-control"
          aria-label="Image URL"
          [placeholder]="'shared.form.image' | translate"
          required
          (change)="onFileSelected($event)"
          accept="image/png, image/jpg, image/jpeg, image/gif"
        />
        <div class="error" *ngIf="serviceForm.get('imageUrl')?.errors">
          <div *ngIf="serviceForm.get('imageUrl')?.errors?.['required']">
            {{ "shared.form.image-required" | translate }}
          </div>
          <div *ngIf="serviceForm.get('imageUrl')?.errors?.['invalidType']">
            {{ "shared.form.image-invalid" | translate }}
          </div>
          <div *ngIf="serviceForm.get('imageUrl')?.errors?.['maxSizeExceeded']">
            {{ "shared.form.image-max" | translate }}
          </div>
        </div>
      </div>

      <div *ngIf="serviceForm.get('imageUrl')?.value" class="img-container">
        <div class="slider">
          <img
            class="img"
            [src]="serviceForm.get('imageUrl')?.value"
            alt="Uploaded image"
          />
        </div>
        <i
          class="delete-icon bi bi-trash-fill h4"
          (click)="removeImage()"
          title="Delete image"
        ></i>
      </div>
      @if(isAddingAService){
      <button
        class="mt-4 btn-primary ps-4 pe-4"
        [title]="'shared.button.add' | translate"
      >
        {{ "shared.button.add" | translate }}</button
      >} @else {
      <button
        class="mt-4 btn-primary"
        [title]="'shared.button.update' | translate"
      >
        {{ "shared.button.update" | translate }}
      </button>
      }
    </form>
  </div>

  <button
    class="mt-4 ms-4 btn-outline-primary rounded-2"
    [routerLink]="['/employee/services']"
    routerLinkActive="router-link-active"
    [title]="'shared.button.go-back' | translate"
  >
    @if(lang == 'ar') {
    <i class="fa-solid fa-arrow-right"></i>
    } @else {
    <i class="fa-solid fa-arrow-left"></i>
    }
    {{ "shared.button.go-back" | translate }}
  </button>
</div>

<p-toast></p-toast>
