<ngb-toast
  *ngIf="showToast"
  [class]="toastClass + ' position-fixed top-0 end-0 m-3'"
  header="Info"
  [autohide]="true"
  [delay]="3000"
  (hidden)="showToast = false"
>
  {{ toastMessage }}
</ngb-toast>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h2>{{ "title.signup.name" | translate }}</h2>
  <div>
    <label>{{ "shared.form.name" | translate }}</label>
    <input
      formControlName="name"
      type="text"
      pattern="^[\u0600-\u06FFa-zA-Z'\s]+$"
    />
    <div *ngIf="f['name'].invalid && f['name'].touched">
      <small *ngIf="f['name'].errors?.['required']">{{
        "shared.form.name-required" | translate
      }}</small>
      <small *ngIf="f['name'].errors?.['minlength']">{{
        "shared.form.name-minlength" | translate
      }}</small>
      <small *ngIf="f['name'].errors?.['maxLength']">{{
        "shared.form.name-maxlength" | translate
      }}</small>
      <div *ngIf="f['name'].errors?.['pattern']">
        {{ "shared.form.name-invalid" | translate }}
      </div>
    </div>
  </div>

  <div>
    <label> {{ "shared.form.email" | translate }}</label>
    <input formControlName="email" type="email" />
    <div *ngIf="f['email'].invalid && f['email'].touched">
      <small *ngIf="f['email'].errors?.['required']">
        {{ "shared.form.email-required" | translate }}
      </small>
      <small *ngIf="f['email'].errors?.['pattern']">
        {{ "shared.form.email-invalid" | translate }}
      </small>
    </div>
  </div>

  <div>
    <label>{{ "shared.form.new-password" | translate }}</label>
    <input formControlName="password" type="password" />
    <div *ngIf="f['password'].invalid && f['password'].touched">
      <small *ngIf="f['password'].errors?.['required']">
        {{ "shared.form.password-required" | translate }}
      </small>
      <small *ngIf="f['password'].errors?.['pattern']">
        {{ "shared.form.password-pattern" | translate }}
      </small>
    </div>
  </div>

  <div>
    <label>{{ "shared.form.confirm-password" | translate }}</label>
    <input formControlName="confirmPassword" type="password" />
    <div
      *ngIf="(f['confirmPassword'].touched || submitted) &&
         (f['confirmPassword'].errors || signUpForm.errors?.['mismatch'])"
    >
      <small *ngIf="f['confirmPassword'].errors?.['required']">
        {{ "shared.form.confirmation-required" | translate }}.
      </small>
      <small
        *ngIf="!f['confirmPassword'].errors && signUpForm.errors?.['mismatch']"
      >
        {{ "shared.form.password-match" | translate }}
      </small>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn-primary" type="submit">
      {{ "shared.button.signup" | translate }}
    </button>
  </div>
  <p style="text-align: center; margin-top: 1rem">
    {{ "signup.already-have-an-account" | translate }}
    <a routerLink="/login" style="font-weight: bold; display: inline-block"
      >{{ "shared.button.login" | translate }}!</a
    >
  </p>
</form>
