@import "../../../../../styles/variables.scss";

.page {
  max-width: 1300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.container {
  background-color: white;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.data-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 5px;
}

.data-title {
  width: 15%;
  font-weight: bold;
  font-size: 20px;
}

.data {
  width: 80%;
  font-size: 20px;
}

.pfp-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -70px;
  margin-bottom: -70px;
}

.pfp-parent {
  position: relative;
  width: 150px;
  height: 150px;
}

.pfp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-20px);
  border-radius: 100%;
  width: 170px;
  height: 170px;
}

i.bi-camera-fill {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  padding: 6px;
  font-size: 25px;
  cursor: pointer;
}

.profile-header-btn {
  position: absolute;
  right: -50px;
  color: $color-dark-brown;
  cursor: pointer;
  margin: 0px;
  align-self: center;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-error {
  width: 50%;
}

label {
  width: 25%;
}

.input-group-text {
  margin: 10px 5px;
  padding: 11px;
  font-size: 16px;
  width: 100%;
  border: 2px $color-dark-brown solid;
  border-right: none;
}

.input-group-icon {
  width: 100%;
  margin: 10px 5px;
  padding: 11px;
  font-size: 16px;
  border: 2px $color-dark-brown solid;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}

input,
.phone-input {
  margin: 10px 5px;
  padding: 7px;
  font-size: 16px;
  border: 2px $color-dark-brown solid;
  border-radius: 5px;
  width: 100%;
  border-left: none;
}

.phone-input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  // border: 2px $color-dark-brown solid;
}

.right-input .input-group-text {
  border: 2px $color-dark-brown solid;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.right-input input {
  border: 2px $color-dark-brown solid;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.right-input .phone-input {
  border: 2px $color-dark-brown solid;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border: 2px $color-dark-brown solid;
  border-left: none;
}

.error {
  color: $color-red;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: -6px;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  text-decoration: none;
  width: auto;
  margin: auto;
  font-size: 18px;
  border-radius: 7px;
  padding: 7px 10px;
}

.btn-submit {
  border: none;
  background-color: $color-dark-brown;
  color: white;
}

i {
  color: $color-dark-brown;
}

::ng-deep ngx-intl-tel-input .iti__tel-input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0;
}
.phone-view-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.edit-phone-btn {
  border: none;
  background-color: transparent;
  color: $color-dark-brown;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
  
}

.phone-edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;

  ngx-intl-tel-input {
    width: 45%;
      border: 2px $color-dark-brown solid;
    
  }
}

.btn-group {
  display: flex;
  gap: 10px;
}

button {
  font-size: 15px;
  padding: 6px 14px;
  border-radius: 6px;
}

  .btn-cancel {
    background-color: #eee;
    color: $color-dark-brown;
    border: 1px solid $color-dark-brown;
  }

  .btn-save {
    background-color: $color-dark-brown;
  }