@import "../../../../../src/styles/variables.scss";

header {
  background-color: $color-dark-brown;
  color: $color-cream;
  padding: 10px 20px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-cream;
      font-size: 18px;
    }

    .burger {
      display: none;
      flex-direction: column;
      gap: 5px;
      background: none;
      border: none;
      cursor: pointer;

      span {
        width: 25px;
        height: 3px;
        background-color: $color-cream;
        border-radius: 2px;
        transition: all 0.3s ease;
      }

      @media (max-width: 768px) {
        display: flex;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;

      .nav-left,
      .nav-right {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 10px;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        &.open {
          max-height: 500px;
        }

        .nav-left,
        .nav-right {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
        }

        .nav-right {
          margin-left: 0;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: $color-cream;
  font-size: 17px;
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 5px;

  i {
    vertical-align: middle;
    position: relative;
    top: 1px;
  }
}

.logo {
  width: 150px;
}

.linear-icon {
  width: 30px;
}
.fill-icon {
  width: 25px;
}

.pfp {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
