<div class="page">
  <div class="container">
    <div class="dashboard-container">
      <div class="child-container">
        <section class="stats-section">
          <h2 class="mb-4 pb-2">
            {{ "dashboard.system-overview" | translate }}
          </h2>
          <div class="stats-grid">
            <div>
              <strong>{{ "dashboard.total-employees" | translate }}:</strong>
              {{ totalEmployees }}
            </div>
            <div>
              <strong>{{ "dashboard.total-services" | translate }}:</strong>
              {{ totalServices }}
            </div>
            <div>
              <strong
                >{{ "dashboard.total-services-requests" | translate }}:</strong
              >
              {{ totalServicesRequests }}
            </div>
            <div>
              <strong>{{ "dashboard.total-customers" | translate }}:</strong>
              {{ totalCustomers }}
            </div>
            <div>
              <strong>{{ "dashboard.total-rooms" | translate }}:</strong>
              {{ totalRooms }}
            </div>
            <div>
              <strong>{{ "dashboard.total-reservations" | translate }}:</strong>
              {{ totalReservations }}
            </div>
          </div>
        </section>
        <hr />
        <section class="stats-section">
          <h2 class="mb-4 pb-2">
            {{ "dashboard.performance-metrics" | translate }}
          </h2>
          <div class="stats-grid">
            <div>
              <strong
                >{{
                  "dashboard.avg-services-per-employee" | translate
                }}:</strong
              >
              {{ avgServicesPerEmployee }}
            </div>
            <div>
              <strong
                >{{ "dashboard.avg-reservations-per-day" | translate }}:</strong
              >
              {{ avgReservationsPerDay }}
            </div>
            <div>
              <strong
                >{{ "dashboard.avg-requests-per-day" | translate }}:</strong
              >
              {{ avgRequestsPerDay }}
            </div>
          </div>
        </section>
        <hr />
        <section class="stats-section">
          <h2 class="mb-4 pb-2">{{ "dashboard.highlights" | translate }}</h2>
          <div class="stats-grid">
            <div>
              <strong
                >{{ "dashboard.employee-of-the-month" | translate }}:</strong
              >
              {{ employeeOfTheMonth }}
            </div>
            <div>
              <strong
                >{{ "dashboard.top-selling-service" | translate }}:</strong
              >
              {{ getTopSellingService }}
            </div>
            <div>
              <strong
                >{{ "dashboard.most-booked-room-type" | translate }}: </strong
              >{{ mostBookedRoomType }}
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="child-container">
      <h2>{{ "dashboard.reservations" | translate }}</h2>
      <div class="d-flex justify-content-between">
        <canvas class="w-50 h-25" id="dailyBookingChart"></canvas>
        <canvas class="w-50 h-25" id="weeklyBookingChart"></canvas>
      </div>
    </div>
    <div class="child-container">
      <div class="d-flex justify-content-around">
        <div
          class="w-100 d-flex justify-content-center align-items-center flex-column"
        >
          <h2>{{ "dashboard.reservations-status" | translate }}</h2>
          <canvas class="w-50 h-75" id="reservationStatusChart"></canvas>
        </div>
        <div
          class="w-100 d-flex justify-content-center align-items-center flex-column"
        >
          <h2>{{ "dashboard.requests-status" | translate }}</h2>
          <canvas class="w-50 h-75" id="requestsStatusChart"></canvas>
        </div>
      </div>
    </div>

    <div class="child-container">
      <h2>{{ "dashboard.requests" | translate }}</h2>
      <div class="d-flex justify-content-between">
        <canvas class="w-50 h-25" id="dailyRequestsChart"></canvas>
        <canvas class="w-50 h-25" id="weeklyRequestsChart"></canvas>
      </div>
    </div>
  </div>
</div>
