<div class="container mt-4">
  <h2 class="text-center mb-4">{{ "reservation.reservations" | translate }}</h2>

  <div *ngIf="reservations.length > 0; else noReservations">
    <div class="card mb-3" *ngFor="let reservation of reservations">
      <div class="row g-0" [class.is-checked-out]="reservation.isCheckedOut">
        <div class="col-md-4">
          <img
            [src]="reservation.room.imagesUrl[0]"
            class="img-fluid rounded-start"
            alt="{{ 'reservation.room-image' | translate }}"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ reservation.room.title }}</h5>
            <p class="card-text">
              <strong>{{ "reservation.type" | translate }}:</strong>
              {{ reservation.room.roomType }}<br />
              <strong>{{ "reservation.hotel" | translate }}:</strong>
              {{ reservation.room.hotel }}<br />
              @if(reservation.approvalStatus == "Pending"){
              <strong>{{ "reservation.date-requested" | translate }}:</strong>
              } @else if(reservation.approvalStatus == "Approved"){
              @if(reservation.isCheckedOut){
              <strong>{{ "reservation.date-checked-out" | translate }}:</strong>
              } @else {
              <strong>{{ "reservation.date-booked" | translate }}:</strong>} }
              {{ reservation.date | date : "mediumDate" }}<br />
              <strong>{{ "reservation.price" | translate }}:</strong>
              {{ reservation.paymentAmount | currency : "USD" }}
              ({{ reservation.paymentStatus }})<br />
              @if(!reservation.isCheckedOut){
              <strong>{{ "reservation.status.stat" | translate }}:</strong>
              <span
                [ngClass]="{
                  'text-warning': reservation.approvalStatus === 'Pending',
                  'text-success': reservation.approvalStatus === 'Approved',
                  'text-danger': reservation.approvalStatus === 'Rejected'
                }"
              >
                {{
                  "reservation.status." +
                    reservation.approvalStatus.toLowerCase() | translate
                }}
              </span>

              }
            </p>
            <div class="d-flex justify-content-between">
              <!-- رابط تفاصيل الغرفة -->
              <a
                [routerLink]="['/room-details', reservation.room.id]"
                class="room-details-link"
                [attr.lang]="lang"
              >
                🔗 {{ "reservation.details" | translate }}
              </a>
              <!-- زر الإلغاء -->
              <button
                class="btn btn-danger btn-sm"
                (click)="cancelReservation(reservation.id)"
                *ngIf="reservation.approvalStatus !== 'Approved'"
              >
                {{ "reservation.cancel" | translate }}
              </button>

              <a
                *ngIf="reservation.isCheckedOut"
                class="btn btn-primary btn-sm ms-2"
                (click)="bookRoom(reservation.room)"
              >
                <span class="exclude-disabled">
                  {{ "reservation.book-again" | translate }}</span
                >
              </a>
              <!-- زر الدفع -->
              <a
                *ngIf="
                  !reservation.isCheckedOut &&
                  reservation.approvalStatus == 'Approved'
                "
                class="btn btn-primary btn-sm ms-2"
                [routerLink]="['/checkout', reservation.room.id]"
                pButton
              >
                {{ "reservation.check-out" | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noReservations>
    <div *ngIf="reservations.length === 0" class="alert alert-info mt-3">
      {{ "reservation.no-reservations" | translate }}
    </div>
  </ng-template>
</div>

<p-toast></p-toast>
