$color-light-cream: #fcf8f3;
$color-cream: #faf3e8;
$color-creamy: #fbebd4;
$color-tan: #d0b998;
$color-caramel: #ad926b;
$color-brown: #8a704a;
$color-dark-brown: #725529;

$color-light-green: #abf7b1;
$color-dark-red: #d33030;
$color-red: #e74c4c;
$color-light-red: #faa0a0;

$background-color: $color-cream;
$border-color: $color-tan;
$accent-color: $color-caramel;
$text-color: $color-brown;
$heading-color: $color-dark-brown;
