@import "../../../../styles/variables.scss";

.page {
  max-width: 1300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

tr {
  text-align: center;
}

button {
  border: none;
  margin: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.details {
  color: $color-caramel;
}

.approve {
  color: $color-light-green;
}

.reject {
  color: $color-light-red;
}

h3 {
  margin-top: 100px;
}

i {
  color: $color-dark-brown;
}
