<div class="page">
  @if(pendingReservations.length > 0){
  <h1 class="m-4">
    {{ "reservation.pending-reservations" | translate }}
    <i class="fa-solid fa-clock fa-xs ms-1 me-1"></i>
  </h1>
  <div class="rounded-4 shadow border overflow-hidden mb-5">
    <table class="table table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th>{{ "shared.entity.id" | translate }}</th>
          <th>{{ "user.name" | translate }}</th>
          <th>{{ "shared.form.title" | translate }}</th>
          <th>{{ "room.type" | translate }}</th>
          <th>{{ "room.floor" | translate }}</th>
          <th>{{ "shared.form.price" | translate }}</th>
          <th>{{ "shared.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for(reservation of pendingReservations; let i = $index; track i) {
        <tr>
          <td>{{ reservation?.id }}</td>
          <td>{{ reservation?.customer?.name || "" }}</td>
          <td>{{ reservation?.room?.title || "" }}</td>
          <td>{{ reservation?.room?.roomType || "" }}</td>
          <td>{{ reservation?.room?.floor }}</td>
          <td>{{ reservation?.room?.price }}</td>
          <td>
            <button
              class="details"
              [routerLink]="['/room-details/', reservation.room.id]"
              routerLinkActive="router-link-active"
            >
              <!-- <i class="bi bi-info-circle h5"></i> -->
              <i
                class="bi bi-info-circle-fill h5"
                [title]="'reservation.reservation-details' | translate"
              ></i>
              <!-- {{ "shared.button.details" | translate }} -->
            </button>
            <button
              class="approve"
              (click)="approveReservationRequest(reservation)"
            >
              <!-- <i class="bi bi-check-circle h5"></i> -->
              <i
                class="bi bi-check-circle-fill h5"
                [title]="'reservation.approve-reservation' | translate"
              ></i>
              <!-- {{ "shared.button.approve" | translate }} -->
            </button>
            <button
              class="reject"
              (click)="rejectReservationRequest(reservation)"
            >
              <!-- <i class="bi bi-x-circle-fill h5"></i> -->
              <i
                class="bi bi-x-circle-fill h5"
                [title]="'reservation.reject-reservation' | translate"
              ></i>
              <!-- {{ "shared.button.reject" | translate }} -->
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
  } @if(activeReservations.length > 0){
  <h1 class="m-4 mb-4">
    {{ "reservation.active-reservations" | translate }}
    <i class="fa-solid fa-calendar-week fa-xs ms-1 me-1"></i>
  </h1>
  <div class="rounded-4 shadow border overflow-hidden">
    <table class="table table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th>{{ "shared.entity.id" | translate }}</th>
          <th>{{ "user.name" | translate }}</th>
          <th>{{ "shared.form.title" | translate }}</th>
          <th>{{ "room.type" | translate }}</th>
          <th>{{ "room.floor" | translate }}</th>
          <th>{{ "shared.form.price" | translate }}</th>
          <th>{{ "shared.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for(reservation of activeReservations; let i = $index; track i) {
        <tr>
          <td>{{ reservation?.id }}</td>
          <td>{{ reservation?.customer?.name || "" }}</td>
          <td>{{ reservation?.room?.title || "" }}</td>
          <td>{{ reservation?.room?.roomType || "" }}</td>
          <td>{{ reservation?.room?.floor }}</td>
          <td>{{ reservation?.room?.price }}</td>
          <td>
            <button
              class="details"
              [routerLink]="['/room-details/', reservation.room.id]"
              routerLinkActive="router-link-active"
            >
              <!-- <i class="bi bi-info-circle h5"></i> -->
              <i
                class="bi bi-info-circle-fill h5"
                [title]="'reservation.reservation-details' | translate"
              ></i>
              <!-- {{ "shared.button.details" | translate }} -->
            </button>
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>
  } @if(pendingReservations.length <= 0 && activeReservations.length <= 0) {
  <h3 class="text-center">
    {{ "reservation.no-reservations" | translate }}
  </h3>
  }
</div>
<p-toast />
<p-confirmdialog #cd>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      [label]="'shared.confirm-dialog.reject' | translate"
      [ngStyle]="{ backgroundColor: '#e09fa6', border: 'red' }"
      (click)="cd.onAccept()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-check"
      [label]="'shared.confirm-dialog.cancel' | translate"
      [ngStyle]="{ backgroundColor: '#90c67c', border: 'green' }"
      (click)="cd.onReject()"
    ></button>
  </ng-template>
</p-confirmdialog>
