<div class="page">
  <div class="d-flex justify-content-between align-items-center">
    @if(!isEditing){
    <h1 class="m-4 mb-4">{{ "profile.title" | translate }}</h1>
    } @else {
    <h1 class="m-4 mb-4">{{ "profile.edit-profile" | translate }}</h1>
    }
  </div>
  <div *ngIf="!isEditing" class="profile-details">
    <div class="container p-4 ps-5 pe-5 mt-4">
      <div class="pfp-container">
        <div class="pfp-parent">
          <img
            class="pfp"
            [src]="
              user?.pfp
                ? user?.pfp
                : '../../../../../assets/images/profile-default-image.png'
            "
          />
          <i class="bi bi-camera-fill"></i>
        </div>
        <i
          class="bi bi-pencil-square h3 ms-4 me-4 profile-header-btn"
          (click)="edit()"
        ></i>
      </div>
      <div class="data-container">
        <p class="me-3 data-title">
          <i class="fa-solid fa-user" style="color: #725529"></i>
          {{ "profile.name" | translate }}:
        </p>
        <p class="data">{{ profileData.name }}</p>
      </div>
      <div class="data-container">
        <p class="me-3 data-title">
          <i class="fa-solid fa-envelope" style="color: #725529"></i>
          {{ "profile.email" | translate }}:
        </p>
        <p class="data">
          {{ profileData.email }}
        </p>
      </div>
      <div class="data-container">
        <p class="me-3 data-title">
          <i class="fa-solid fa-phone" style="color: #725529"></i>
          {{ "profile.phone" | translate }}:
        </p>
        <p class="data">{{ profileData.phone }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="isEditing" class="center-wrapper edit-profile">
    <div class="container p-4 ps-5 pe-5 mt-4">
      <div class="pfp-container">
        <div class="pfp-parent">
          <img
            class="pfp"
            [src]="
              user?.pfp
                ? user?.pfp
                : '../../../../../assets/images/profile-default-image.png'
            "
          />
          <i class="bi bi-camera-fill"></i>
        </div>

        <i
          class="bi bi-x h1 ms-4 me-4 profile-header-btn"
          (click)="cancel()"
        ></i>
      </div>
      <form [formGroup]="profileForm" (ngSubmit)="UpdateProfile()">
        <div class="input-container">
          <label for="name"> {{ "profile.name" | translate }}:</label>
          <div class="input-error">
            <div
              class="input-group"
              [ngClass]="{ 'right-input': lang == 'ar' }"
            >
              <div class="align-self-center">
                <span
                  class="input-group-text align-self-center bg-white"
                  id="basic-addon1"
                  ><i class="fa-solid fa-user" style="color: #725529"></i>
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                aria-label="Name"
                [placeholder]="'profile.name' | translate"
                formControlName="name"
                required
              />
            </div>
            <div
              class="error"
              *ngIf="
                profileForm.get('name')?.invalid &&
                profileForm.get('name')?.touched
              "
            >
              {{ "profile.name-required" | translate }}
            </div>
          </div>
        </div>
        <div class="input-container">
          <label for="email">{{ "profile.email" | translate }}:</label>
          <div class="input-error">
            <div
              class="input-group"
              [ngClass]="{ 'right-input': lang == 'ar' }"
            >
              <div class="align-self-center">
                <span
                  class="input-group-text align-self-center bg-white"
                  id="basic-addon1"
                  ><i class="fa-solid fa-envelope" style="color: #725529"></i>
                </span>
              </div>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                aria-label="Email"
                placeholder="example@gmail.com"
                formControlName="email"
                required
                email
              />
            </div>
            <div
              class="error"
              *ngIf="
                profileForm.get('email')?.invalid &&
                profileForm.get('email')?.touched
              "
            >
              {{ "profile.email-required" | translate }}
            </div>
          </div>
        </div>
        <div class="input-container">
          <label for="phone">{{ "profile.phone" | translate }}:</label>
          <div class="input-error">
            <div
              class="input-group"
              [ngClass]="{ 'right-input': lang == 'ar' }"
            >
              <div class="align-self-center">
                <span
                  class="input-group-text align-self-center bg-white"
                  id="basic-addon1"
                >
                  <i class="fa-solid fa-phone" style="color: #725529"></i>
                </span>
              </div>
              <input
                appPhoneFormat
                type="text"
                class="form-control"
                placeholder="e.g. 079-123 4567"
                aria-label="Phone"
                [placeholder]="'profile.phone' | translate"
                formControlName="phone"
                required
              />
            </div>
            <div
              class="error"
              *ngIf="
                profileForm.get('phone')?.invalid &&
                profileForm.get('phone')?.touched
              "
            >
              {{ "profile.phone-required" | translate }}
            </div>
          </div>
        </div>
        <div class="input-container">
          <label for="newPassword"
            >{{ "profile.new-password" | translate }}:</label
          >
          <div class="input-error">
            <div
              class="input-group"
              [ngClass]="{ 'right-input': lang == 'ar' }"
            >
              <div class="align-self-center">
                <span
                  class="input-group-text align-self-center bg-white"
                  id="basic-addon1"
                >
                  <i class="fa-solid fa-lock" style="color: #725529"></i>
                </span>
              </div>
              <input
                type="password"
                class="form-control"
                [placeholder]="'profile.new-password' | translate"
                aria-label="Password"
                formControlName="newPassword"
                required
                minlength="6"
              />
            </div>
            <div
              class="error"
              *ngIf="
                profileForm.get('newPassword')?.touched &&
                profileForm.get('newPassword')?.errors as errors
              "
            >
              <div *ngIf="errors['minlength']">
                {{ "profile.password-min-length" | translate }}
              </div>
              <div *ngIf="errors['required']">
                {{ "profile.password-required" | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="input-container">
          <label for="confirmPassword"
            >{{ "profile.confirm-password" | translate }}:</label
          >
          <div class="input-error">
            <div
              class="input-group"
              [ngClass]="{ 'right-input': lang == 'ar' }"
            >
              <div class="align-self-center">
                <span
                  class="input-group-text align-self-center bg-white"
                  id="basic-addon1"
                >
                  <i
                    class="fa-solid fa-check-double"
                    style="color: #725529"
                  ></i>
                </span>
              </div>
              <input
                type="password"
                class="form-control"
                aria-label="Password"
                [placeholder]="'profile.confirm-password' | translate"
                formControlName="confirmPassword"
                required
                minlength="6"
              />
            </div>
            <div
              class="error"
              *ngIf="
                profileForm.get('confirmPassword')?.valueChanges &&
                profileForm.get('confirmPassword')?.value !=
                  profileForm.get('newPassword')?.value
              "
            >
              {{ "profile.password-match" | translate }}
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex align-items-center justify-content-center">
          <button class="m-1 btn-submit">
            {{ "profile.submit" | translate }}
          </button>
          <button class="m-1 btn-outline-primary rounded-2" (click)="cancel()">
            {{ "profile.cancel" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
