@import "../../../../../../src/styles/variables.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 6rem;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  background-color: #fff;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: $color-dark-brown;
}

div {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;

  &:focus {
    border-color: $color-dark-brown;
    outline: none;
  }
}

small {
  font-size: 0.8rem;
  color: $color-red;
  width: 100%;
  padding-left: 15px;
}

a {
  color: $color-dark-brown;
  text-align: center;
  display: block;
  margin-top: 1rem;
}
button[disabled] {
  background-color: #ccc !important;
  cursor: not-allowed;
  opacity: 0.6;
}

