@import "../styles/variables.scss";

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-cream;
}

.layout-wrapper {
  flex: 1; /* take remaining height after header */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.side-image {
  width: 100px; /* adjust to your image width */
  background-repeat: repeat-y;
  background-color: $color-cream;
}

.side-image.left {
  background-image: url("/assets/images/column-right.png");
  width: 13%;
  margin-left: -10px;
}

.side-image.right {
  background-image: url("/assets/images/column-left.png");
}
