<div class="page">
  <h1 class="m-4 mb-4 text-center">{{ "profile.add-employee" | translate }}</h1>
  <div class="center-wrapper">
    <form
      class="container p-4"
      [formGroup]="profileForm"
      (ngSubmit)="addEmployee()"
    >
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span class="input-group-text align-self-center bg-white"
            ><i class="fa-solid fa-user"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Name"
          [placeholder]="'shared.form.name' | translate"
          formControlName="name"
          pattern="^[\u0600-\u06FFa-zA-Z'\s]+$"
          required
        />
        <div class="error" *ngIf="profileForm.get('name')?.touched">
          <div *ngIf="profileForm.get('name')?.errors?.['required']">
            {{ "shared.form.name-required" | translate }}
          </div>
          <div *ngIf="profileForm.get('name')?.errors?.['minlength']">
            {{ "shared.form.name-minlength" | translate }}
          </div>
          <div *ngIf="profileForm.get('name')?.errors?.['maxlength']">
            {{ "shared.form.name-maxlength" | translate }}
          </div>
          <div *ngIf="profileForm.get('name')?.errors?.['pattern']">
            {{ "shared.form.name-invalid" | translate }}
          </div>
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span class="input-group-text align-self-center bg-white">
            <i class="fa-solid fa-envelope"></i>
          </span>
        </div>
        <input
          type="email"
          class="form-control"
          aria-label="Email"
          [placeholder]="'shared.form.email' | translate"
          formControlName="email"
          required
        />
        <div class="error" *ngIf="profileForm.get('email')?.touched">
          <div *ngIf="profileForm.get('email')?.errors?.['required']">
            {{ "shared.form.email-required" | translate }}
          </div>
          <div *ngIf="profileForm.get('email')?.errors?.['pattern']">
            {{ "shared.form.email-invalid" | translate }}
          </div>
        </div>
      </div>

      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
          >
            <i class="fa-solid fa-phone"></i>
          </span>
        </div>
        <ngx-intl-tel-input
          class="phone-input"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="true"
          [preferredCountries]="preferredCountries"
          [phoneValidation]="true"
          [separateDialCode]="true"
          formControlName="phone"
          [maxLength]="10"
          name="phone"
        ></ngx-intl-tel-input>
        <div
          class="error"
          *ngIf="
            profileForm.get('phone')?.invalid &&
            profileForm.get('phone')?.touched
          "
        >
          {{ "shared.form.phone-required" | translate }}
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
            ><i class="fa-solid fa-address-card"></i>
          </span>
        </div>
        <select
          class="type-input"
          aria-label="Job Category"
          formControlName="jobCategory"
          required
          [ngStyle]="{
            color: profileForm.get('jobCategory')?.value ? 'black' : '#495057'
          }"
        >
          <option value="" disabled selected hidden>
            {{ "profile.job-category" | translate }}
          </option>

          @for(jobCategory of jobCategories; let i= $index; track i){

          <option [value]="jobCategory">{{ jobCategory }}</option>
          }
        </select>
        <div
          class="error"
          *ngIf="
            profileForm.get('jobCategory')?.invalid &&
            profileForm.get('jobCategory')?.touched
          "
        >
          {{ "profile.job-category-required" | translate }}
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span
            class="input-group-text input-group-icon align-self-center bg-white"
          >
            <i class="fa-solid fa-briefcase"></i>
          </span>
        </div>
        <select
          class="type-input"
          aria-label="Job Title"
          formControlName="jobTitle"
          required
          [ngStyle]="{
            color: profileForm.get('jobTitle')?.value ? 'black' : '#495057'
          }"
        >
          <option value="" disabled selected hidden>
            {{ "profile.job-title" | translate }}
          </option>

          @for(jobTitle of jobTitles; let i= $index; track i){

          <option [value]="jobTitle">{{ jobTitle }}</option>
          }
        </select>

        <div
          class="error"
          *ngIf="
            profileForm.get('jobTitle')?.invalid &&
            profileForm.get('jobTitle')?.touched
          "
        >
          {{ "profile.job-title-required" | translate }}
        </div>
      </div>

      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span class="input-group-text align-self-center bg-white">
            <i class="fa-solid fa-hotel"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Hotel"
          [placeholder]="'shared.form.hotel' | translate"
          formControlName="hotel"
          pattern="^[a-zA-Z0-9\u0600-\u06FF'\-$!& ]+$"
          required
        />
        <div
          class="error"
          *ngIf="
            profileForm.get('hotel')?.touched || profileForm.get('hotel')?.dirty
          "
        >
          <div *ngIf="profileForm.get('hotel')?.errors?.['required']">
            {{ "shared.form.hotel-required" | translate }}
          </div>
          <div *ngIf="profileForm.get('hotel')?.errors?.['minlength']">
            {{ "shared.form.hotel-minlength" | translate }}
          </div>
          <div *ngIf="profileForm.get('hotel')?.errors?.['maxlength']">
            {{ "shared.form.hotel-maxlength" | translate }}
          </div>
          <div *ngIf="profileForm.get('hotel')?.errors?.['pattern']">
            {{ "shared.form.input-invalid" | translate }}
          </div>
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span class="input-group-text align-self-center bg-white">
            <i class="fa-solid fa-lock"></i>
          </span>
        </div>
        <input
          type="password"
          class="form-control"
          [placeholder]="'shared.form.new-password' | translate"
          aria-label="Password"
          formControlName="newPassword"
          required
          minlength="6"
        />
        <div
          class="error"
          *ngIf="
            profileForm.get('newPassword')?.touched &&
            profileForm.get('newPassword')?.errors as errors
          "
        >
          <div *ngIf="errors['required']">
            {{ "shared.form.password-required" | translate }}
          </div>
          <div *ngIf="errors['pattern']">
            {{ "shared.form.password-pattern" | translate }}
          </div>
        </div>
      </div>
      <div class="input-group" [ngClass]="{ 'right-input': lang == 'ar' }">
        <div class="align-self-center">
          <span class="input-group-text align-self-center bg-white">
            <i class="fa-solid fa-check-double"></i>
          </span>
        </div>
        <input
          type="password"
          class="form-control"
          aria-label="Password"
          [placeholder]="'shared.form.confirm-password' | translate"
          formControlName="confirmPassword"
          required
          minlength="6"
        />
        <div
          class="error"
          *ngIf="
            profileForm.get('confirmPassword')?.touched &&
            profileForm.get('confirmPassword')?.value &&
            profileForm.get('newPassword')?.value &&
            profileForm.get('confirmPassword')?.value !==
              profileForm.get('newPassword')?.value
          "
        >
          {{ "shared.form.password-match" | translate }}
        </div>
      </div>
      <button
        class="mt-4 btn-primary ps-4 pe-4"
        [title]="'profile.submit' | translate"
      >
        {{ "shared.button.submit" | translate }}
      </button>
    </form>
  </div>

  <button
    class="mt-4 ms-4 btn-outline-primary rounded-2"
    [routerLink]="'/admin/manage-users'"
    routerLinkActive="router-link-active"
    [title]="'shared.button.go-back' | translate"
  >
    @if(lang == 'ar') {
    <i class="fa-solid fa-arrow-right"></i>
    } @else {
    <i class="fa-solid fa-arrow-left"></i>
    }
    {{ "shared.button.go-back" | translate }}
  </button>
</div>
