<div class="d-flex justify-content-between mt-2 ms-5 me-5">
  <div class="d-flex">
    <h1 class="m-4">
      {{ "room.rooms" | translate }}
    </h1>
    <img class="fill-icon" src="/assets/images/bed-brown-filled-icon.png" />
  </div>
  <button
    class="btn btn-primary"
    (click)="AddRoom()"
    [title]="'room.add-room' | translate"
  >
    <i class="bi bi-house-add-fill h4 m-1 align-middle"></i>
    <span class="m-1 align-middle">{{ "room.add-room" | translate }}</span>
  </button>
</div>

<div class="rooms-container">
  @for(room of rooms; let i= $index; track i){
  <div class="room-card">
    @if(role == 'Admin'){
    <i
      class="delete-icon bi bi-trash-fill h4"
      (click)="deleteRoom(room.id)"
      [title]="'room.delete-room' | translate"
    ></i>
    <i
      class="info-icon bi bi-info-circle-fill h5"
      (click)="showRoomDetails(room.id)"
      [title]="'room.room-details' | translate"
    ></i>
    }
    <img
      class="room-img"
      [src]="room.imagesUrl[0]"
      (click)="showRoomDetails(room.id)"
    />
    <div class="room-info">
      <div class="room-content" (click)="showRoomDetails(room.id)">
        <h4>{{ room.title }}</h4>
        <div>
          <strong class="me-2">{{ "room.type" | translate }}:</strong>
          @if(room.roomType == 'Hall'){
          <img
            class="icon-img mb-1"
            src="../../../../assets/images/hall-filled-icon.png"
          />
          } @else {
          <i class="fa-solid fa-bed" style="color: #ad926b"></i>
          } {{ room.roomType }}
        </div>
        <div>
          <strong class="me-2">{{ "room.booked-status" | translate }}:</strong>
          <span
            [style.color]="room.bookedStatus === 'Available' ? 'green' : 'red'"
          >
            {{ room.bookedStatus }}</span
          >
        </div>
        <div>
          <strong class="me-2">{{ "room.price" | translate }}:</strong
          >{{ room.price | currency : "USD" : "symbol" : "1.0-0" }}
        </div>
      </div>
      @if(role != 'Admin'){
      <button class="book-btn btn-primary" (click)="bookRoom(room)">
        Book Now
      </button>

      }
    </div>
  </div>
  }
</div>

<ng-template #noRooms>
  <p class="no-rooms-msg">{{ "room.no-available-rooms" | translate }}</p>
</ng-template>

<p-toast />
<p-confirmdialog #cd>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Delete"
      [ngStyle]="{ backgroundColor: '#e09fa6', border: 'red' }"
      (click)="cd.onAccept()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Cancel"
      [ngStyle]="{ backgroundColor: '#90c67c', border: 'green' }"
      (click)="cd.onReject()"
    ></button>
  </ng-template>
</p-confirmdialog>
<!-- Toast for booking message -->
<div
  class="toast-container position-fixed top-0 end-0 p-3"
  style="z-index: 1200"
  *ngIf="showToast"
>
  <div
    class="toast show align-items-center text-white {{ toastClass }} border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">{{ toastMessage }}</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        (click)="showToast = false"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
