@import "../../../../styles/variables.scss";
.wrapper {
  display: flex;
  justify-content: center; // centers grid when it's smaller than container
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 30px;
  box-sizing: border-box;
  max-width: 100%;
}

.room-container {
  position: relative;
  width: 100%; // let grid control width
  height: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

img {
  width: 100%;
  height: 150px;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  object-fit: cover;
}

.room-content {
  margin: 0px 15px 15px 15px;
  color: $color-brown;
}

h2 {
  margin: 0;
  color: $color-dark-brown;
}

.room-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  text-decoration: none;
  border: none;
  font-size: medium;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.details {
  background-color: transparent;
}

.add-to-cart {
  color: white;
  margin-bottom: 5px;
  background-color: green;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: red;
  padding: 4px;
}
.info-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  color: $color-cream;
  padding: 4px;
}

.icon-img {
  width: 18px;
  height: 18px;
}
