<div
  class="services-container"
  *ngIf="filteredServices.length > 0; else noServices"
>
  <div class="service-card" *ngFor="let service of filteredServices">
    <h3>{{ service.title }}</h3>
    <p><strong>Details:</strong> {{ service.details }}</p>
    <p><strong>Price:</strong> ${{ service.price }}</p>

    <div class="employee-info">
      <h4>Provided by:</h4>
      <p><strong>Name:</strong> {{ service.employee.name }}</p>
      <p><strong>Email:</strong> {{ service.employee.email }}</p>
      <p><strong>Phone:</strong> {{ service.employee.phone }}</p>
    </div>

    <button
      class="btn-primary"
      [disabled]="
        requestedServicesStatus[service.title] === 'Pending' ||
        requestedServicesStatus[service.title] === 'In Progress' ||
        requestedServicesStatus[service.title] === 'Completed'
      "
      (click)="requestService(service)"
    >
      {{
        requestedServicesStatus[service.title] === "Completed" ||
        requestedServicesStatus[service.title] === "In Progress"
          ? "Approved"
          : requestedServicesStatus[service.title] === "Pending"
          ? "Requested"
          : "Request Service"
      }}
    </button>
  </div>
</div>

<ng-template #noServices>
  <p>{{ "service.no-available-services" | translate }}</p>
</ng-template>

<p-toast></p-toast>
