<footer>
  <a
    (click)="changeLanguage('en')"
    [class]="
      lang == 'en'
        ? 'text-bold h5 text-black text-decoration-underline'
        : 'text-black'
    "
    [title]="'footer.english' | translate"
  >
    {{ "footer.english" | translate }}</a
  >
  <i class="ms-3 me-3 fa-solid fa-star fa-xl"></i>
  <a
    (click)="changeLanguage('ar')"
    [class]="
      lang == 'en'
        ? 'text-black'
        : 'text-bold h5 text-black text-decoration-underline'
    "
    [title]="'footer.arabic' | translate"
  >
    {{ "footer.arabic" | translate }}</a
  >
</footer>
