<p-toast></p-toast>
<header>
  <div class="header-container">
    <a
      class="logo"
      [routerLink]="['/']"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      @if(lang == "ar"){
      <img class="logo px-2" src="/assets/images/logo-arabic.png" alt="logo" />
      }@else {
      <img class="logo" src="/assets/images/logo.png" alt="logo" />}
      <!-- {{ "app.title" | translate }} -->
    </a>

    <button class="burger" (click)="isMenuOpen = !isMenuOpen">
      <i class="fa-solid fa-bars fa-lg" style="color: #fbebd4"></i>
    </button>

    <nav [class.open]="isMenuOpen">
      <div class="nav-left">
        @if(role == 'Admin'){
        <a
          [routerLink]="'/admin/manage-users'"
          routerLinkActive="active-link"
          [title]="'header.admin.manage-users' | translate"
        >
          {{ "header.admin.manage-users" | translate }}
        </a>
        <a
          [routerLink]="'/rooms'"
          routerLinkActive="active-link"
          [title]="'header.admin.rooms' | translate"
        >
          {{ "header.admin.rooms" | translate }}
        </a>
        <a
          [routerLink]="'/admin/reservations'"
          routerLinkActive="active-link"
          [title]="'header.admin.reservations' | translate"
        >
          {{ "header.admin.reservations" | translate }}
        </a>
        } @if(role == 'Employee'){
        <a
          [routerLink]="'/employee/services'"
          routerLinkActive="active-link"
          [title]="'header.employee.services' | translate"
        >
          {{ "header.employee.services" | translate }}
        </a>
        } @if(role == 'Customer'){
        <a
          href="#"
          (click)="goToAvailableServices($event)"
          [title]="'header.customer.available-services' | translate"
        >
          {{ "header.customer.available-services" | translate }}
        </a>
        <a
          [routerLink]="'/my-reservations'"
          routerLinkActive="active-link"
          [title]="'header.customer.my-reservations' | translate"
        >
          {{ "header.customer.my-reservations" | translate }}
        </a>
        }
      </div>

      <div class="nav-right">
        @if(isLoggedIn){
        <a
          [routerLink]="'/profile/' + userId"
          [title]="'header.auth.profile' | translate"
        >
          <img
            class="pfp"
            [src]="
              pfp
                ? pfp
                : '../../../../../assets/images/profile-default-image.png'
            "
          />
          {{ name }}
        </a>

        <a
          [routerLink]="'/login'"
          (click)="logout()"
          [title]="'header.auth.logout' | translate"
        >
          {{ "header.auth.logout" | translate }}
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        } @else{
        <a [routerLink]="'/login'" [title]="'header.auth.login' | translate">
          {{ "header.auth.login" | translate }}
          <i class="fill-icon fa-solid fa-arrow-right-to-bracket fa-lg"></i>
          <!-- <img src="/assets/images/login-linear-icon.webp" alt="login icon" /> -->
        </a>
        <a
          [routerLink]="'/signup'"
          [title]="'header.auth.register' | translate"
        >
          {{ "header.auth.register" | translate }}
          <img class="fill-icon" src="/assets/images/sign-up-filled-icon.png" />
          <!-- <img src="/assets/images/logout-linear-icon.webp" alt="logout icon" /> -->
        </a>
        }
      </div>
    </nav>
  </div>
</header>
