@import "../../../../../src/styles/variables.scss";

footer {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color-cream;
  padding: 15px;
}

a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

i {
  align-self: center;
  color: $color-dark-brown;
}
